body {
  background-color: #032D42;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navbar-brand {
  padding: .25rem .05rem .20rem .05rem;
  margin: 0;
  display: flex;
  align-content: center;
  background-color: #4F4F4F;
}

.navbar-title {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-left: 1vw;
  height: 20px;
}

.nav {
  background-color: #4F4F4F;
  padding: 0;
}

.nav-hr {
  color: #86ED78;
  margin: 0;
  border-top: 2px solid;
}

.nav-container {
  padding-left: .50rem;
}

.nav-logo {
  margin-right: auto;
}

.logo {
  background-color: #4F4F4F;
}

.hello {
  margin-top: .50rem;
}

.hello-card {
  padding: 0;
  border: 0;
  border-radius: 0;
}
 
.hello-card-body {
  background-color: #032D42;
  padding: 0;
}

.hello-card-body > h5 {
  color: #DBDBDB;
  background-color: #4F4F4F;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0;
  padding-top: .10rem;
  padding-bottom: .10rem;
  padding-left: .25rem;
  padding-right: .25rem;
  border: 1px groove #86ED78;
  border-radius: 10px 10px 10px 10px;
  display: inline-flex;
}

.day {
  color: #DBDBDB;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small;
  align-self: center;
  margin-top: .25rem;
  margin-right: .25rem;
  margin-bottom: 0;
}

.clock {
  color: #86ED78;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small;
  align-self: center;
  margin-top: .25rem;
  margin-bottom: 0;
}

.clock-div {
  display: inline-flex;
  margin-left: auto;
}

.date-time {
  padding-right: .50rem;
}

.name-row {
  margin: 0;
  justify-content:space-evenly;
}

.name-col {
  margin-top: .75rem;
  margin-bottom: .50rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.name-card {

  background-color: #4F4F4F;
}

.name-card-img {
  background-color: #DBDBDB;
  padding: .25rem;
  border-bottom: 2px ridge #86ED78;
}

.name-card-body {
  padding-top: .30rem;
  padding-bottom: .25rem;
}

.name-card-title {
  color: #DBDBDB;
  margin-bottom: .25rem;
}

.name-card-text {
  color: #86ED78;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small;
  align-self: center;
}
